body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #4caf50;
    color: white;
    padding: 20px;
    text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a7f4c; /* hijau dominan */
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.menu a {
  color: #e6ffe6;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  position: relative;
}

.menu a:hover {
  color: #ffffff;
  border-bottom: 2px solid #fff;
  background-color: #173318;
    padding: 6px 12px;
  border-radius: 5px;
}
.nav-link:hover {
  background-color: #38a169; /* hijau muda */
  color: #f0fff4;
  padding: 6px 12px;
  border-radius: 5px;
}

.nav-link.active {
  background-color: #276749;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 5px;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card .icon {
    font-size: 40px;
    color: #4caf50;
}

.card .number {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
}

.card .label {
    color: #777;
}
